* {
  margin: 0;
}

body {
  margin: 0;
  margin-top: 0em;
  margin-bottom: 4em;
  text-align: center;
  background-color: blanchedalmond;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  margin: 1em;
}

h2 {
  margin: 1em;
}

#main-container {
  display: flex;
  justify-content: center;
}

#todo-container {
  background-color: white;
}

.task-container {
  display: flex;
}

li {
  text-align: left;
}

p {
  cursor: pointer;
}

.task {
  width: 20em;
  display: flex;
  padding-left: .27em;
}

button {
  width: 5em;
  cursor: pointer;
  height: 1.75em;
}

input {
  width: 22.555em;
  height: 1.25em;
}

.cont {
  color: black;
  padding-left: .17em;
}

.cont2 {
  color: green;
  text-decoration: line-through;
  padding-left: .17em;
}